
@{
    ViewBag.Title = "Index";
}



<body>

    <!-- Preloader Start -->
    @*<div class="preloader">
        <div class="rounder"></div>
    </div>*@
    <!-- Preloader End -->

    <div id="main">
        <div class="container">
            <div class="row">

                <!-- About Me (Left Sidebar) Start -->
                <div class="col-md-3" >
                    <div class="">

                        <div class="my-pic">

                            <img src="~/Content/img/Blog/images/pic/my_pic_head.jpg" alt="">
                            <a href="javascript:void(0)"
                               class="collapsed"
                               data-target="#menu"
                               data-toggle="collapse">
                                <i class="icon-menu menu"></i>
                            </a>
                            <div id="menu" class="collapse">
                                <ul class="menu-link">
                                    <li>
                                        <a href="about.html">關於我</a>
                                    </li>
                                    <!-- <li><a href="work.html">Work</a></li> -->
                                    <li>
                                        <a href="contact.html">聯絡我</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="my-detail">

                            <div class="white-spacing">
                                <h1>比爾陳</h1>
                                <span>GoGo Buy</span>
                            </div>

                            <ul class="social-icon">
                                <li>
                                    <a href="#" target="_blank" class="facebook">
                                        @*<i class="fa fa-facebook"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/733/733547.png" style="width:45px; height:45px" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="">
                                        @*<i class="fa fa-twitter"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/733/733579.png" style="width:45px; height:45px" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="linkedin">
                                        @*<i class="fa fa-linkedin"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/2111/2111463.png" style="width:45px; height:45px" />
                                    </a>
                                </li>
                                <!-- <li><a href="#" target="_blank" class="github"><i class="fa
                                fa-github"></i></a></li> -->
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- About Me (Left Sidebar) End -->



                <!-- Blog Post (Right Sidebar) Start -->
                <div class="col-md-9">
                    <div class="col-md-12 page-body">
                        <div class="row">

                            <div class="sub-title">
                                <h2>日本旅遊好好買</h2>
                                <a href="contact.html">
                                    <i class="icon-envelope"></i>
                                </a>
                            </div>

                            <div class="col-md-12 content-page">

                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="~/Content/img/Blog/images/blog/blog02.jpg" alt="">
                                    </div>
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>京都櫻花季 找到你心中好回憶 伴手禮真尬意</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            九月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut
                                        ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo
                                        corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem
                                        ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione
                                        similique.
                                    </p>
                                    <a href="~/Blog/Single"
                                       class="button button-style button-anim">
                                        <span>閱讀詳情</span>
                                    </a>
                                    
                                </div>
                                <!-- Blog Post End -->




                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>京都地鐵行 沿途好好買 買了增回憶</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            九月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut
                                        ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo
                                        corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem
                                        ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione
                                        similique.
                                    </p>
                                    <a href="~/Blog/Single"
                                       class="button button-style button-anim">
                                        <span>閱讀詳情</span>
                                    </a>
                                </div>
                                <!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="~/Content/img/Blog/images/blog/blog03.jpg" alt="">
                                    </div>
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>日本就是這樣玩 京都就是這樣買</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            九月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut
                                        ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo
                                        corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem
                                        ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione
                                        similique.
                                    </p>
                                    <a href="~/Blog/Single"
                                       class="button button-style button-anim">
                                        <span>閱讀詳情</span>
                                    </a>
                                </div>
                                <!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>終於發現心中最美的那個日本 終於買到京都最好的特產</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            九月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut
                                        ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo
                                        corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem
                                        ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione
                                        similique.
                                    </p>
                                    <a href="~/Blog/Single"
                                       class="button button-style button-anim">
                                        <span>閱讀詳情</span>
                                    </a>
                                </div>
                                <!-- Blog Post End -->


                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>京都原來這麼好買 本地人都不知道</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            九月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut
                                        ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo
                                        corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem
                                        ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione
                                        similique.
                                    </p>
                                    <a href="~/Blog/Single"
                                       class="button button-style button-anim">
                                        <span>閱讀詳情</span>
                                    </a>
                                </div>
                                <!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="~/Content/img/Blog/images/blog/2.jpg" alt="">
                                    </div>
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>幫朋友買了京都的好物 朋友都誇我人真好</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            九月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut
                                        ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo
                                        corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem
                                        ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione
                                        similique.
                                    </p>
                                    <a href="~/Blog/Single"
                                       class="button button-style button-anim">
                                        <span>閱讀詳情</span>
                                    </a>
                                </div>
                                <!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>原來京都也有這麼好逛的生活百貨店 可買清單好厚一疊</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            九月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut
                                        ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo
                                        corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem
                                        ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione
                                        similique.
                                    </p>
                                    <a href="~/Blog/Single"
                                       class="button button-style button-anim">
                                        <span>閱讀詳情</span>
                                    </a>
                                </div>
                                <!-- Blog Post End -->

                                <div class="col-md-12 text-center">
                                    <a href="javascript:void(0)" id="load-more-post" class="load-more-button">更多</a>
                                    <div id="post-end-message"></div>
                                </div>

                            </div>

                        </div>

                        <!-- Subscribe Form Start -->
                        <div class="col-md-8 col-md-offset-2">
                            <form id="mc-form"
                                  method="post"
                                  action="http://uipasta.us14.list-manage.com/subscribe/post?u=854825d502cdc101233c08a21&amp;id=86e84d44b7">

                                <div class="subscribe-form margin-top-20">
                                    <input id="mc-email" type="email" placeholder="郵件地址" class="text-input">
                                    <button class="submit-btn" type="submit">發送</button>
                                </div>
                                <p>歡迎訂閱我的每週資訊</p>
                                <label for="mc-email" class="mc-label"></label>
                            </form>

                        </div>
                        <!-- Subscribe Form End -->

                    </div>

                    <!-- Footer Start -->
                    <!--<div class="col-md-12 page-body margin-top-50 footer">
                        <footer>
                            <ul class="menu-link">
                                <li>
                                    <a href="~/Blog/Index">首頁</a>
                                </li>
                                <li>
                                    <a href="about.html">關於我</a>
                                </li>-->
                                <!-- <li><a href="work.html">Work</a></li> -->
                                <!--<li>
                                    <a href="contact.html">聯絡我</a>
                                </li>
                            </ul>

                            <p>© Copyright 2021 旅遊好好買. All rights reserved</p>-->

                            <!-- UiPasta Credit Start -->
                            <!-- <div class="uipasta-credit">Design By <a href="http://www.uipasta.com"
                            target="_blank">UiPasta</a></div> -->
                            <!-- UiPasta Credit End -->

                        <!--</footer>-->
                    </div>
                    <!-- Footer End -->

                </div>
                <!-- Blog Post (Right Sidebar) End -->

            </div>
        </div>
    </div>

    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top">
        <i class="fa fa-long-arrow-up"></i>
    </a>
    <!-- Back to Top End -->
    <!-- All Javascript Plugins -->
    <script type="text/javascript" src="~/Content/img/Blog/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/img/Blog/js/plugin.js"></script>


    <!-- Main Javascript File -->
    <script type="text/javascript" src="~/Content/img/Blog/js/scripts.js"></script>



    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="~/Content/img/Blog/css/plugin.css">

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Content/img/Blog/css/style.css">

    <!-- Google Web Fonts -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">




</body>