
@{
    ViewBag.Title = "Index";
}



<body>

    <!-- Preloader Start -->
    @*<div class="preloader">
        <div class="rounder"></div>
    </div>*@
    <!-- Preloader End -->

    <div id="main">
        <div class="container">
            <div class="row">

                <!-- About Me (Left Sidebar) Start -->
                <div class="col-md-3" >
                    <div class="">

                        <div class="my-pic">

                            <img src="~/Content/img/Blog/images/pic/my_pic_head.jpg" alt="">
                            <a href="javascript:void(0)"
                               class="collapsed"
                               data-target="#menu"
                               data-toggle="collapse">

                                <i class="icon-menu menu"></i>
                            </a>
                            <div id="menu" class="collapse">
                                <ul class="menu-link">
                                    <li>
                                        <a href="about.html">關於我</a>
                                    </li>
                                    <!-- <li><a href="work.html">Work</a></li> -->
                                    <li>
                                        <a href="contact.html">聯絡我</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="my-detail">

                            <div class="white-spacing">
                                <h1>比爾陳</h1>
                                <span>GoGo Buy</span>
                            </div>

                            <ul class="social-icon">
                                <li>
                                    <a href="#" target="_blank" class="facebook">
                                        @*<i class="fa fa-facebook"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/733/733547.png" style="width:45px; height:45px" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="">
                                        @*<i class="fa fa-twitter"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/733/733579.png" style="width:45px; height:45px" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="linkedin">
                                        @*<i class="fa fa-linkedin"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/2111/2111463.png" style="width:45px; height:45px" />
                                    </a>
                                </li>
                                <!-- <li><a href="#" target="_blank" class="github"><i class="fa
                                fa-github"></i></a></li> -->
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- About Me (Left Sidebar) End -->



                <!-- Blog Post (Right Sidebar) Start -->
                <div class="col-md-9">
                    <div class="col-md-12 page-body">
                        <div class="row">

                            <div class="sub-title">
                                <h2>日本旅遊好好買</h2>
                                <a href="contact.html">
                                    <i class="icon-envelope"></i>
                                </a>
                            </div>

                            <div class="col-md-12 content-page">
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i2.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Yasaka-Pagoda.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                            <h1>日本文化之旅 | 必訪的京都名勝古蹟</h1>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        京都位於本州，地處大阪北部。這座美麗的城市曾是日本的首都，直到今天也依然是日本最迷人的城市之一。京都以其眾多的歷史性地標而聞名，這裡有著名的佛寺和美不勝收的庭院，有莊嚴神聖的神社與宮殿，也有樸素的日式傳統木屋（又稱町屋）。每到櫻花盛開的季節和紅葉漫天的秋日，美不勝收的京都總是遊人如織。除了歷史遺跡，京都的傳統日式料理——懷石料理也極富盛名。懷石料理講究「一汁三菜」，精緻如藝術品，既款待著遠道而來的客人，也供養著數百年來在這裡磨練技藝的一代又一代藝妓（東京稱藝者，即藝妓）和舞妓。京都美食眾多，歷史悠久，文化豐富，吸引了無數歷史愛好者、美食愛好者和旅行者前來一探究竟。無論你為何而來，都能在這個極為現代化的都市里體驗到千年古都的風情。
                                    </p>
                                    
                                </div>
                                <!-- Blog Post End -->

                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>不容錯過的京都名勝</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        京都是一座魅力非凡的城市，種種日本文化在這裡得以精心保存，包括藝術、建築、飲食和普通的人居生活。京都也是一座美麗的城市，這裡有鬱鬱蔥蔥的庭院、清新秀麗的幽靜森林、曲徑通幽的山林步道。京都最受歡迎的景點是歷史保護區，如祇園和東山區。眾多歷史悠久的神社和廟宇等著你去探索。京都特產店和茶館林立，聚集著許多工匠和當地手工藝人，自然也是個購物的好地方。
                                    </p>
                                </div>
                                <!-- Blog Post End -->

                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i1.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Mount-Atago.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>愛宕山</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        愛宕山海拔924公尺，是京都最高山，也是愛宕神社的所在地。神社建於1603年，不過現有的這座神社是1958年建的。進入神社前，必須爬上名為「通往成功之路」的86級台階，方能看到坐落在愛宕山頂的神社。如果你是登山愛好者，山上還有一條12.9公里長的環行小道，方便你穿越山林。小道維護得很好，全年都可以通行，很受大家歡迎，有些登山好手甚至會選擇通宵爬山。站在愛宕山山頂可以欣賞到壯麗的景色，完全值得爬上那一串串台階。每人腳力不同，爬上山頂大約需要兩到三個小時。

                                        地址：Sagaatagocho, Ukyo Ward

                                        門票：免費

                                        營業時間：愛宕山每天24小時開放，神社每天上午9點至下午5點開放
                                    </p>
                                </div>
                                <!-- Blog Post End -->

                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i1.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-The-Golden-Pavillion-Kinkakuji-temple.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>金閣寺</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        金閣寺的正式名稱是鹿苑寺，這座佛教寺廟是日本最熱門的景點之一，日本著名作家三島由紀夫名作《金閣寺》正是以該寺為背景。金閣寺佇立在池塘邊，金色的倒影映在水中，看上去格外莊嚴美麗。廟身貼滿金箔，風格華麗，這和寺廟初建時奢靡的社會風氣有關。早在1408年，金閣寺就已經建成，後被人縱火焚毀，於1955年重建，每一層的建築風格都各有不同。參觀寺廟之餘，你也可以享受周圍靜謐的自然風光，或是參觀一下主持的舊居（只能參觀外部，內部不對外開放）。附近還有一家禮品店和小茶園，可以在這裡歇歇腳，喝杯抹茶，吃些點心。

                                        地址：1 Kinkakujicho, Kita Ward

                                        門票：400日元

                                        開放時間：每天上午9點至下午5點
                                    </p>
                                </div>
                                <!-- Blog Post End -->

                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i0.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Nishi-Honganji-Temple.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>西本願寺</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        西本願寺和同樣位於京都的東本願寺同屬於新佛教寺廟。西本願寺始建於1591年，寺廟內的很多建築歷經17世紀早期和18世紀的風雨，得以倖存下來，對於建築愛好者來說，這是瞭解日本古建築風格的活化石。這座寺廟同時也是聯合國教科文組織指定的世界遺產，是該教派的總本山。西本願寺的建築雕刻精美細膩，唐門裝飾華麗，堪稱無價之寶，非常值得一遊。

                                        地址：600-8501 Kyoto, Shimogyo Ward

                                        門票：免費

                                        開放時間：每天上午5:30至下午5點
                                    </p>
                                </div>
                                <!-- Blog Post End -->

                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i1.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Nijo-Castle.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>二條城</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        二條城建於1603年，曾是日本江戶時代第一代征夷大將軍德川家康的住所。1939年天皇將其賜予宮內省，進而作為歷史遺址對外開放。二條城保存了一些封建時代最好的建築，包括二之丸禦殿、本丸禦殿遺址、庭園，以及內外兩環起到防禦作用的櫓。進入二之丸禦殿之前，必須先穿過一道唐門，唐門非常漂亮，木雕精美細膩，一向是拍照的熱門地點。遊覽二條城，不妨進入著名的二之丸庭園散個步，這座庭園由著名的景觀設計師小堀遠州設計，是個靜心冥思的好地方。 二條城一年四季景色各有不同，無論是在櫻花爛漫的春季，或是層林盡染的秋天，任何時候造訪，都能收穫滿目美景。

                                        地址：541 Nijo-jo-cho, Nakagyo Ward

                                        門票：620日元，進入二之丸禦殿額外收費410元。

                                        開放時間：每天上午8:45至下午4點
                                    </p>
                                </div>
                                <!-- Blog Post End -->

                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i0.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Higashiyama-District.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <a href="~/Blog/Single">
                                            <h1>東山區</h1>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2021 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        東山區是京都保存完好的歷史街區，在遊客和當地人中都很受歡迎。 這裡到處是町屋、寺廟和神社，各種陶器商店和飯店等，方便你身臨其境地感受日本封建期間這座城市的風貌。前往清水寺的途中，可以在美麗的東山區漫步探索，沿途有很多小店出售精美的禮品，不妨挖一些紀念品帶回家吧。

                                        地址：位於清水寺和圓山公園之間

                                        開放時間：每天24小時開放
                                    </p>
                                </div>
                                <!-- Blog Post End -->

                                <div class="col-md-12 text-center">
                                    <a href="javascript:void(0)" id="load-more-post" class="load-more-button">更多</a>
                                    <div id="post-end-message"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- Blog Post (Right Sidebar) End -->

            </div>
        </div>
    </div>

    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top">
        <i class="fa fa-long-arrow-up"></i>
    </a>
    <!-- Back to Top End -->
    <!-- All Javascript Plugins -->
    <script type="text/javascript" src="~/Content/img/Blog/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/img/Blog/js/plugin.js"></script>


    <!-- Main Javascript File -->
    <script type="text/javascript" src="~/Content/img/Blog/js/scripts.js"></script>



    <!-- All CSS Plugins -->
    @*<link rel="stylesheet" type="text/css" href="~/Content/img/Blog/css/plugin.css">*@

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Content/img/Blog/css/style.css">

    <!-- Google Web Fonts -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">




</body>