
@{
    ViewBag.Title = "Single";
}

<body>

    <!-- Preloader Start -->
    @*<div class="preloader">
            <div class="rounder"></div>
        </div>*@
    <!-- Preloader End -->

    <div id="main">
        <div class="container">
            <div class="row">

                <!-- About Me (Left Sidebar) Start -->
                <div class="col-md-3">
                    <div class="">

                        <div class="my-pic">
                            <img src="~/Content/img/Blog/images/pic/my_pic_head.jpg" alt="">
                            <a href="javascript:void(0)"
                               class="collapsed"
                               data-target="#menu"
                               data-toggle="collapse">
                                <i class="icon-menu menu"></i>

                            </a>
                            <div id="menu" class="collapse">
                                <ul class="menu-link">
                                    <li>
                                        <a href="about.html">關於我</a>
                                    </li>
                                    <!-- <li><a href="work.html">Work</a></li> -->
                                    <li>
                                        <a href="contact.html">聯絡我</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="my-detail">

                            <div class="white-spacing">
                                <h1>比爾陳</h1>
                                <span>GoGo Buy</span>
                            </div>

                            <ul class="social-icon">
                                <li>
                                    <a href="#" target="_blank" class="facebook">
                                        @*<i class="fa fa-facebook"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/733/733547.png" style="width:45px; height:45px" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="">
                                        @*<i class="fa fa-twitter"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/733/733579.png" style="width:45px; height:45px" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="linkedin">
                                        @*<i class="fa fa-linkedin"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/2111/2111463.png" style="width:45px; height:45px" />
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
                <!-- About Me (Left Sidebar) End -->
                <!-- Blog Post (Right Sidebar) Start -->
                <div class="col-md-9">
                    <div class="col-md-12 page-body">
                        <div class="row">

                            <div class="sub-title">
                                <h2>日本旅遊好好買</h2>
                                <a href="contact.html">
                                    <i class="icon-envelope"></i>
                                </a>
                            </div>

                            <div class="col-md-12 content-page">

                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i0.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Gion-district.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <h1>京都旅行住哪兒好？</h1>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2016 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        京都旅行，選對住的地方，才能確保自己度過一個愉快的假期。雖說整個京都都很迷人，但有些地方還是比另一些地方住起來更方便一些，要麼設施更加便捷現代，要麼更靠近自然風光和景點。所以，最好先決定住在哪個區域，然後再挑選具體的酒店。那麼京都最好的住宿區域有哪些呢？它們又具體好在哪裡呢？
                                    </p>
                                </div>
                                <!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i0.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Downtown-kyoto.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <h1>京都市中心</h1>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2016 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        京都市中心靠近地鐵站，餐館、俱樂部、商店和酒吧都在步行範圍內，東山區南部和北部也都走路可達，所以如果你想方便前往各處景點，又想在觀光之余找點樂子，還希望有大把優質酒店可供選擇，那市中心是最適合你的。這裡有京都市最好的傳統食品市場錦市場，也有各種百貨商店和博物館……京都市中心總有各種好吃好玩的等著你。
                                    </p>
                                </div>
                                <!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i0.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Kyoto-Tower.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <h1>下京區</h1>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2016 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        下京區位於京都站附近，這裡車水馬龍，充滿現代氣息，有各種好玩好看的地方。你可以登上京都塔，俯瞰整座城市的壯麗景色，也可以在購物中心或地下商場買東西、嘗美食。這裡酒吧很多，隨時可以喝上一杯好酒。你也可以去涉成園，欣賞美麗的風景，享受寧靜的氛圍——櫻花盛開的季節這裡更是美麗。除了這些，這裡還有京都水族館等等。下京區是你在京都旅行的絕佳住地。
                                    </p>
                                </div>
                                <!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i0.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Maiko-or-Geisha-walking-in-Gion-district.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <h1>祇園區</h1>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2016 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        祇園區是一個美麗的歷史區，保留了濃厚的傳統日本文化，如果你對這些感興趣，那這裡很適合你。祇園區主要是作為藝伎文化的起源地而為眾人所熟知，在這裡經常可以看到藝伎日常生活的場景。藝伎和舞伎（見習階段的藝伎）接受專門的日本古典表演藝術訓練，包括藝術、唱歌和跳舞，妝容和著裝都非常獨特，其表演藝術受到高度認可。這一地區也因町屋眾多而聞名，也有很多商店和餐館。祇園區靠近熱門的東山區，如果你是歷史愛好者，那這裡就是你的理想住所。
                                    </p>
                                </div>
                                <!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i0.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Pontocho-district-with-river.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <h1>先鬥町</h1>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2016 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        先鬥町雖小，卻充滿活力和樂趣，有很多酒吧和夜店之類的夜生活場所。白天這裡一派繁忙，到處都是商店和飯店，還有傳統日式建築和茶舍，說不定還能看到匆匆趕往這裡赴約的藝伎。先鬥町並不是遊客們常去的地方，不過如果你想獲得與眾不同的體驗，或是想感受京都的地方風情，那這裡很適合你。先鬥町隱藏著很多傳統京都料理和美食，去夜店happy之前，不妨先嘗嘗這裡的美食吧！
                                    </p>
                                </div>
                                <!-- Blog Post End -->
                                <!-- Blog Post Start -->
                                <div class="col-md-12 blog-post">
                                    <div class="post-image">
                                        <img src="https://i0.wp.com/www.agoda.com/wp-content/uploads/2020/02/Kyoto-attractions-Nishijin-District.jpg?ssl=1" alt="">
                                    </div>
                                    <div class="post-title">
                                        <h1>西陣</h1>
                                    </div>
                                    <div class="post-info">
                                        <span>
                                            六月 23, 2016 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <p>
                                        西陣位於京都市西北部，是京都有名的織造區。這個地區保留著傳統的生活氣息，因其眾多的町屋而聞名，同時也是很多展現織造藝術的博物館和美術館的所在地。如果你想感受一下古都風情，又想住在看重紡織藝術和歷史傳承的地方，那這裡非常適合你。
                                    </p>
                                </div>
                                <!-- Blog Post End -->
                                <div class="col-md-12 text-center">
                                    <a href="javascript:void(0)" id="load-more-post" class="load-more-button">更多</a>
                                    <div id="post-end-message"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- All Javascript Plugins -->
    <script type="text/javascript" src="~/Content/img/Blog/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/img/Blog/js/plugin.js"></script>

    <!-- Main Javascript File -->
    <script type="text/javascript" src="~/Content/img/Blog/js/scripts.js"></script>

    <!-- All CSS Plugins -->
    @*<link rel="stylesheet" type="text/css" href="~/Content/img/Blog/css/plugin.css">*@

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Content/img/Blog/css/style.css">

    <!-- Google Web Fonts -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">

</body>

