
@{
    ViewBag.Title = "Single";
}

<body>

    <!-- Preloader Start -->
    @*<div class="preloader">
        <div class="rounder"></div>
    </div>*@
    <!-- Preloader End -->

    <div id="main">
        <div class="container">
            <div class="row">

                <!-- About Me (Left Sidebar) Start -->
                <div class="col-md-3">
                    <div class="">

                        <div class="my-pic">
                            <img src="~/Content/img/Blog/images/pic/my_pic_head.jpg" alt="">
                            <a href="javascript:void(0)"
                               class="collapsed"
                               data-target="#menu"
                               data-toggle="collapse">
                                <i class="icon-menu menu"></i>
                                
                            </a>
                            <div id="menu" class="collapse">
                                <ul class="menu-link">
                                    <li>
                                        <a href="about.html">關於我</a>
                                    </li>
                                    <!-- <li><a href="work.html">Work</a></li> -->
                                    <li>
                                        <a href="contact.html">聯絡我</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="my-detail">

                            <div class="white-spacing">
                                <h1>比爾陳</h1>
                                <span>GoGo Buy</span>
                            </div>

                            <ul class="social-icon">
                                <li>
                                    <a href="#" target="_blank" class="facebook">
                                        @*<i class="fa fa-facebook"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/733/733547.png" style="width:45px; height:45px" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="">
                                        @*<i class="fa fa-twitter"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/733/733579.png" style="width:45px; height:45px" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="linkedin">
                                        @*<i class="fa fa-linkedin"></i>*@
                                        <img src="https://image.flaticon.com/icons/png/512/2111/2111463.png" style="width:45px; height:45px" />
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
                <!-- About Me (Left Sidebar) End -->
                <!-- Blog Post (Right Sidebar) Start -->
                <div class="col-md-9">
                    <div class="col-md-12 page-body">
                        <div class="row">
                            
                            <div class="sub-title">
                                <a href="~/Blog/Index" title="Go to Home Page">
                                    <h2>上一頁</h2>
                                </a>
                                <a href="#comment" class="smoth-scroll">
                                    <i class="icon-bubbles"></i>
                                </a>
                            </div>

                            <div class="col-md-12 content-page">
                                <div class="col-md-12 blog-post">

                                    <!-- Post Headline Start -->
                                    <div class="post-title">
                                        <h1>京都櫻花季 找到你心中好回憶 伴手禮真尬意</h1>
                                    </div>
                                    <!-- Post Headline End -->
                                    <!-- Post Detail Start -->
                                    <div class="post-info">
                                        <span>
                                            九月 23, 2016 / by
                                            <a href="#" target="_blank">比爾陳</a>
                                        </span>
                                    </div>
                                    <!-- Post Detail End -->

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at
                                        orci commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet nec
                                        tortor nec, tempor semper metus. et accumsan nisi. Duis laoreet pretium
                                        ultricies. Curabitur rhoncus auctor nunc congue sodales. Sed posuere nisi ipsum,
                                        eget dignissim nunc dapibus eget. Aenean elementum
                                        <!-- <b> <a href="javascript:void(0)" data-toggle="popover" data-placement="top"
                                        data-content="You can write any text here">Click me</a> </b> sollicitudin sapien
                                        ut sapien fermentum aliquet mollis. Curabitur ac quam orci sodales quam ut
                                        tempor. <b data-toggle="tooltip" data-placement="top" title="You can write any
                                        text here.">Hover me</b> suspendisse, gravida in augue in, interdum bibendum
                                        dui. Suspendisse sit amet justo sit amet diam fringilla commodo. Praesent ac
                                        magna at metus malesuada tincidunt non ac arcu. Nunc gravida eu felis vel
                                        elementum. Vestibulum sodales quam ut tempor tempor. Donec sollicitudin sapien
                                        ut sapien fermentum, non ultricies nulla gravida. -->
                                    </p>

                                    <!-- Post Image Start -->
                                    <div class="post-image margin-top-40 margin-bottom-40">
                                        <img src="~/Content/img/Blog/images/blog/blog01.jpg" alt="">
                                        <!-- <p>Image source from <a href="#" target="_blank">Link</a> </p> -->
                                    </div>
                                    <!-- Post Image End -->

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at
                                        orci commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet nec
                                        tortor nec, tempor semper metus. Cras vel tempus velit, et accumsan nisi. Duis
                                        laoreet pretium ultricies. Curabitur rhoncus auctor nunc congue sodale Sed
                                        posuere nisi ipsum.
                                    </p>

                                    <!-- Post Video Tutorial Start -->
                                    <div class="video-box margin-top-40 margin-bottom-40">
                                        <div class="video-tutorial">
                                            <a class="video-popup"
                                               href="https://www.youtube.com/watch?v=JNZoW149nA0"
                                               title="京都旅遊影片紀實">
                                                <img src="~/Content/img/Blog/images/blog/blog01a.jpg" alt="">
                                            </a>
                                        </div>
                                        <!-- <p>Integrate video on magnific popup for fast page load.</p> -->
                                    </div>
                                    <!-- Post Video Tutorial End -->

                                </div>

                                <!-- Post Comment Start -->

                                <div class="fb-comments"
                                     data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
                                     data-width=""
                                     data-numposts="5"></div>

                                <!-- Post Comment End -->

                            </div>

                        </div>

                    </div>

                    <!-- Footer Start -->
                    <!--<div class="col-md-12 page-body margin-top-50 footer">
                        <footer>
                            <ul class="menu-link">
                                <li>
                                    <a href="~/Blog/Index">首頁</a>
                                </li>
                                <li>
                                    <a href="about.html">關於我</a>
                                </li>-->
                                <!-- <li><a href="work.html">Work</a></li> -->
                                <!--<li>
                                    <a href="contact.html">聯絡我</a>
                                </li>
                            </ul>

                            <p>© Copyright 2021 旅遊好好買. All rights reserved</p>-->

                            <!-- UiPasta Credit Start -->
                            <!-- <div class="uipasta-credit">Design By <a href="http://www.uipasta.com"
                            target="_blank">UiPasta</a></div> -->
                            <!-- UiPasta Credit End -->

                        <!--</footer>
                    </div>-->
                    <!-- Footer End -->

                </div>
                <!-- Blog Post (Right Sidebar) End -->

            </div>
        </div>
    </div>

    <!-- Endpage Box (Popup When Scroll Down) Start -->
    <div id="scroll-down-popup" class="endpage-box">
        <h4>你也想看看</h4>
        <a href="#">如何找到最方便逛日本大血拚的攻略</a>
    </div>
    <!-- Endpage Box (Popup When Scroll Down) End -->
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top">
        <i class="fa fa-long-arrow-up"></i>
    </a>
    <!-- Back to Top End -->
    <!-- All Javascript Plugins -->
    <script type="text/javascript" src="~/Content/img/Blog/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/img/Blog/js/plugin.js"></script>

    <!-- Main Javascript File -->
    <script type="text/javascript" src="~/Content/img/Blog/js/scripts.js"></script>

    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="~/Content/img/Blog/css/plugin.css">

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Content/img/Blog/css/style.css">

    <!-- Google Web Fonts -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">

</body>

