@using gogobuy.ViewModels;
@model List<ProductViewModel>
@{
    ViewBag.Title = "BuyerManagement";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <style>

        .sm-img {
            width: 150px;
            height: 150px;
        }

        thead {
            border-bottom: 2px black solid;
        }

        th {
            text-align: center;
        }

        tbody > tr {
            text-align: center;
            vertical-align: middle;
        }

        span {
            font-size: 0.8rem;
            color: #898282;
        }

        .setting-icon {
            width: 30px;
            height: 30px;
        }
    </style>
</head>

<div class="table-responsive-sm">
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox"></th>
                <th scope="col">圖片</th>
                <th scope="col">商品名稱</th>
                <th scope="col">收購價格</th>
                <th scope="col">收購數量</th>
                <th scope="col">更新日期</th>
                <th scope="col">管理</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var wishProds in Model)
                {
                    <tr>
                        <th scope="row"><input type="checkbox"></th>
                        <td><img src="~/Content/img/Product/@wishProds.fImgPath" class="sm-img"></td>
                        <td>
                            @wishProds.fProductName
                        </td>
                        <td>$@String.Format("{0:0.00}", wishProds.fPrice)</td>
                        <td>@wishProds.fQuantity</td>
                        <td>@String.Format("{0:yyyy/MM/dd}",wishProds.fUpdateTime)</td>
                        <td><a href="~/BuyerSeller/BucketListDetails"><img src="~/Content/img/buyer_seller/settings.png" class="setting-icon"></a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

