@model gogobuy.ViewModels.UploadViewModel
@{
    ViewBag.Title = "SellerUpload";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <style>
        .form {
            width: 1000px;
            background-color: #d3d1d1;
        }

        .sm-img {
            width: 50px;
            height: 50px;
        }

        .center {
            text-align: center;
            margin-top: 30px;
        }

        .m-padded-tb-big {
            padding-top: 3em !important;
            padding-bottom: 3em !important;
        }

        .m-container-small {
            max-width: 60em !important;
            margin: auto !important;
        }
    </style>
</head>
<section>
    <form method="post" action="~/BuyerSeller/SellerUpload" enctype="multipart/form-data">
        <div class="container ps-5 pt-4 pb-4 text-center form">

            <div class="d-flex justify-content-start">
                <div class="field">
                    <input type="file" multiple id="upload_file" name="photo" style="display: none;">
                    <div class="imageContainer">
                        <div class="ui centered image"
                             style="width:150px; height: 150px; background-color: white; border: 2px dashed black; display: inline-block;">
                            <div class="center">
                                <img src="~/Content/img/buyer_seller/upload.png" alt="" class="ui  mini centered image">
                                <p style="margin-top: 8px;" id="uploadMoreImages">上傳圖片</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class=" col-auto pt-4">
                    <label class="col-form-label">商品名稱</label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-4 pt-4">
                    <input name="fProductName" type="text" class="form-control">
                    @Html.ValidationMessageFor(model => model.fProductName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-auto pt-4">
                    <label class="col-form-label">選擇分類</label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-4 pt-4">
                    <select name="fCategory" class="form-select" selected>
                        <option value="手機周邊">手機周邊</option>
                        <option value="3C產品">3C產品</option>
                        <option value="生活居家">生活居家</option>
                        <option value="服飾飾品">服飾飾品</option>
                        <option value="名產食品">名產食品</option>
                        <option value="文創書籍">文創書籍</option>
                        <option value="影音周邊">影音周邊</option>
                        <option value="古董古玩">古董古玩</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-auto pt-4">
                    <label class="col-form-label">商品描述</label>
                </div>
                <div class="col-md-6 pt-4">
                    <textarea id="message" class="form-control ckeditor" style="height: 250px;" maxlength="500" name="fDescription"></textarea>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-auto pt-4">
                    <label class="col-form-label">物品所在地</label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-6 pt-4">
                    <input type="text" class="form-control" name="fProductLocation">
                    @Html.ValidationMessageFor(model => model.fProductLocation, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-auto pt-4">
                    <label class="col-form-label">商品價格</label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-auto pt-4">
                    <input type="text" class="form-control" name="fPrice">
                    @Html.ValidationMessageFor(model => model.fPrice, "", new { @class = "text-danger" })
                </div>
                <div class="col-auto pt-4">
                    <label class="col-form-label">商品數量</label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-auto pt-4">
                    <input type="text" class="form-control" name="fQuantity">
                    @Html.ValidationMessageFor(model => model.fQuantity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row pb-5 justify-content-start">
                <div class="col-auto pt-4">
                    <label class="col-form-label">到貨時間</label>
                </div>
                <div class="col-md-4 pt-4">
                    <input type="text" class="form-control" name="fArrivalTime">
                </div>
            </div>
            <div class="col-auto pb-5 text-center">
                <button type="submit" class="btn btn-secondary btn-lg">商品上架</button>
            </div>
        </div>
    </form>
</section>
<script>
    $('.menu_toggle').click(function () {
        $(".m-item").toggleClass('m-mobile-hide')
    })
    $(".center").click(function () {
        $("#upload_file").click();
    })
    var img
    $("#upload_file").change(function () {
        var images = []; //定義一個空的陣列用來儲存img路徑
        var files = $(this).get(0).files;
        console.log(files)
        var regex = /^.+(.jpg|.jpeg|.gif|.png)$/; //只能上傳圖片
        $($(this)[0].files).each(function () {
            var file = $(this);
            console.log(file)
            if (regex.test(file[0].name.toLowerCase())) {
                //如果是圖片
                var reader = new FileReader();
                reader.onload = function (e) { //讀取圖片成功會執行這個函式
                    var div = $("<div></div>")
                    div.attr("style", "position: relative; display:inline-block;")
                    var delImg = $("<img/>")
                    delImg.attr("style", "position: absolute; right: 15px; top: 15px; width: 20px;height: 20px; z-index:1; display:none;")
                    delImg.attr("src", "../Content/img/buyer_seller/delete.png")
                    delImg.attr("class", "delImg")

                    var img = $("<img />");
                    img.attr("style", "display: inline-block; height:150px width:100%; margin:8px;");
                    img.attr("src", e.target.result);
                    img.attr("class", "ui small centered image")
                    div.append(delImg)
                    div.append(img);
                    $(".imageContainer").prepend(div);
                }
                reader.readAsDataURL(file[0]);
                $("#uploadMoreImages").text("上傳更多圖片")
            } else {
                alert(file[0].name + "不是一張圖片");
                return false;
            }
        })
    })

    //滑鼠懸浮顯示刪除按鈕
    $(".imageContainer").on("mouseover mouseout", "img", function (event) {
        // console.log($(this).prev()[0])
        if (event.type == "mouseover") {
            //滑鼠懸浮
            $($(this).prev()[0]).show();
        } else if (event.type == "mouseout") {
            //滑鼠離開
            $($(this).prev()[0]).hide();
        }
    })

    //刪除圖片
    $(".imageContainer").on("click", ".delImg", function () {
        $($(this).next()[0]).remove();
        $(this).remove();
    })
</script>

