
@{
    ViewBag.Title = "CheckoutComplete";
}



<div class="container px-3 my-5 clearfix">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="padding: 20px;">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
        </ol>
    </nav>
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h2>訂單已完成</h2>
            <h3>訂單編號:2021060000000000</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr style="text-align: center;">
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="min-width: 150px;">商品名稱</th>
                            <th class="text-center py-3 px-4" style="min-width: 150px;">備註資訊</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">價格</th>
                            <th class="text-center py-3 px-4" style="width: 140px;">數量</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">小計</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img src="https://image.flaticon.com/icons/png/256/4403/4403023.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                    <div class="media-body">
                                        <a href="#" class="d-block text-dark" style="text-align: center;">商品名稱 1</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab totam consequuntur quod omnis cum alias quia laudantium sequi molestiae animi!</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$57.55</td>
                            <td class="align-middle p-4 text-center">2</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$115.1</td>

                        </tr>

                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img src="https://image.flaticon.com/icons/png/256/4403/4403027.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                    <div class="media-body">
                                        <a href="#" class="d-block text-dark" style="text-align: center;">商品名稱 2</a>

                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab totam consequuntur quod omnis cum alias quia laudantium sequi molestiae animi!</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$57.55</td>
                            <td class="align-middle p-4 text-center">2</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$115.1</td>

                        </tr>

                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img src="https://image.flaticon.com/icons/png/256/4403/4403030.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                    <div class="media-body">
                                        <a href="#" class="d-block text-dark" style="text-align: center;">商品名稱 3</a>

                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab totam consequuntur quod omnis cum alias quia laudantium sequi molestiae animi!</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$57.55</td>
                            <td class="align-middle p-4 text-center">2</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$115.1</td>

                        </tr>

                    </tbody>
                </table>
            </div>


            <!-- <div class="float-end">

            </div> -->

        </div>
    </div>
</div>

