
		/* product main section */
		.small-img-group{
			display: flex;
			justify-content: space-between;
		}

		.small-img-col{
			flex-basis: 32%;
			cursor: pointer;

		}

		.sproduct select{
			display: block;
			padding: 5px 10px;
		}

		.sproduct input{
			width: 50px;
			height: 40px;
			padding-left: 10px;
			font-size: 16px;
			margin-right: 10px;
		}

		.sproduct input:focus{
			outline: none;
		}

		.buy-btn{
			background-color:#45526e;
			color: white;
			opacity: 1;
			transition: 0.3s all;
			margin-right: 10px;
		}

		.productRequest{
			list-style-type: none;
		}

		.dollars{
			color: red;
		}

		/* product main section */



		/* icon setting */
		.iconRequest{
			color:rgb(65, 80, 145);
			font-size: 20px;
			margin: 0 10px 0 0;
		}

		.fa-edit{
			margin-right: 12px;
			color: lightcoral;
		}
		.fa-grin-beam{
			margin-right: 15px;
			color: lightskyblue;
		}
		.fa-map-marker-alt{
			margin-right: 20px;
			color: rgba(6, 112, 14, 0.911);
		}
		/* icon setting */





		/* product detail section */
		.pDetails{
			display: flex;
		}

		.detailsPicture{
			margin-right: 10px;

		}

		.detailsText{
			margin: 40px 0;
		}
		/* product detail section */