
@{
    ViewBag.Title = "LoginOutCheck";
}

<h5 class="mx-5 my-5">首頁 / 登出</h5>
<div class="" style="display:flex; align-items: center; margin-bottom:60px;">
    <div class="col-md-6 text-center mx-auto border border-2 border-primary" style="background: #D6E2FF; border-radius: 23px;">
        <div style="" class="fs-4 text-success d-flex justify-content-center">確定要登出嗎??　　　<a href="~/Home/LoginOutCheckFinish">確定</a> / <a href="~/Home/Index">返回</a></div>
    </div>
</div>