
@{
    ViewBag.Title = "RegisterFinish";
}

<h5 class="mx-5 my-5">首頁 / 註冊完成</h5>
<div class="" style="display:flex; align-items: center; margin-bottom:60px;">
    <div class="col-md-6 text-center mx-auto border border-2 border-primary" style="background: #D6E2FF; border-radius: 23px;">
        <div style="" class="fs-4 text-success d-flex justify-content-center">註冊完成，歡迎您加入，請跳轉至<a href="~/Home/Login">登入</a>畫面</div>
    </div>
</div>

