
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>

<body>
    <div class="container">
        <div class="row">
            <div class="col-7" style="padding: 20px 0px;">
                <div class="">
                    <span class="" style="color: #ff5400;">聯絡我們</span>
                    <h2 class="title">歡迎來信</h2>
                </div>
                <form action="https://formspree.io/f/xqkwlwdo" method="POST" class="row" onsubmit="alert('表單已送出')">
                    <div class="col-md-4">
                        <input name="名字" type="text" class="form-control" style="background-color: #ecf0f1;" placeholder="你的名字 *" required>
                    </div>
                    <div class="col-md-4">
                        <input name="信箱" type="email" class="form-control" style="background-color: #ecf0f1;" placeholder="你的信箱 *" required>
                    </div>
                    <div class="col-md-4">
                        <input name="電話" type="text" class="form-control" style="background-color: #ecf0f1;" placeholder="你的電話 ">
                    </div>
                    <div class="col-12">
                        <label for="" class="form-label"></label>
                        <input name="標題" type="text" class="form-control" style="background-color: #ecf0f1;" placeholder="標題">
                    </div>
                    <div class="col-12">
                        <label for="" class="form-label"></label>
                        <textarea name="內容" class="form-control" style="background-color: #ecf0f1;" rows="5"
                                  placeholder="內容"></textarea>
                    </div>
                    <div class="container">
                        <button class="btn btn-outline-secondary "
                                style="margin-top: 30px;width:190px;height:60px; font-size: large;float:right" type="submit">
                            提交
                        </button>
                        <button class="btn btn-outline-secondary "
                                style="margin-top: 30px;margin-right: 20px; width:190px;height:60px; font-size: large;float:right"
                                type="reset">
                            清空
                        </button>
                    </div>
                </form>
            </div>
            <div class="card" style="width: 16rem;height: ;margin-top: 50px;margin-left:40px;background-color: #ecf0f1;">
                <img style=" height: 200px;"
                     src="https://media.istockphoto.com/photos/contact-us-sign-on-a-wooden-desk-picture-id1091858450?k=6&m=1091858450&s=612x612&w=0&h=ipl1LmUiPUopt_q_RSuXHzjNsnquVyg9uPBJ5JruTQE="
                     class="card-img-top" alt="...">
                <div class="card-body" style="text-align:center;">
                    <img src="https://img.icons8.com/small/32/000000/phone.png"><span>Phone</span>
                    <p class="">+9 444 652 0000</p>
                </div>
                <div class="card-body" style="text-align:center;">
                    <img src="https://img.icons8.com/material-outlined/32/000000/new-post.png"><span>Email</span>
                    <p class="">adara@info.com</p>
                </div>
                <div class="card-body" style="text-align:center;">
                    <img src="https://img.icons8.com/small/32/000000/address.png"><span>Address</span>
                    <p class="">71W Park Broklyn Street,<br>New York. United States</p>
                </div>
            </div>
        </div>

        <!-- <div id="map" style="margin-left: 60px; width: 1260px; height: 400px;"></div> -->
        <!-- <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 8
                });
            }
        </script> -->
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=zaSyDuN0fQjvdZ1Q4b4gcvvCXGJP8oPQ_ps7w&callback=initMap" async defer></script> -->
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7345.3693456526935!2d120.21258182317945!3d22.9986200898605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x841674ff51b45187!2z5oiQ5aSn5YWJ5b6p5qCh5Y2A!5e0!3m2!1szh-TW!2stw!4v1625153210362!5m2!1szh-TW!2stw"
                    width="1170" height="400" style="border:0;margin-left: 0px;padding-right:15px" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</body>